<input placeholder="name" [(ngModel)]="tempMilestone.name"><br><br>
<input placeholder="value" [(ngModel)]="tempMilestone.value"> <br><br>
{{tempMilestone.name}}<br><br>
{{tempMilestone.value}}<br><br>
<button (click)="addMilestone()">Add milestone</button>

<ngx-charts-line-chart *ngIf="showChart"
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
</ngx-charts-line-chart>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let milestone of milestones">
        <td>{{milestone.name}}</td>
        <td>{{milestone.value}}</td>
        <td><button (click)="deleteMilestone(milestone)">X</button></td>
    </tr>
    </tbody>
</table>

