<ngx-charts-line-chart *ngIf="milestones.length > 0"
        [view]="view"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        (select)="onSelect($event)">
</ngx-charts-line-chart>
<input placeholder="name" [(ngModel)]="tempMilestone.name"><br><br>
<input placeholder="value" [(ngModel)]="tempMilestone.value"> <br><br>
{{tempMilestone.name}}<br><br>
{{tempMilestone.value}}<br><br>
<button (click)="addMilestone()">Add milestone</button>

